{% extends 'base.html' %}

{% block title %} Blog {% endblock %}


{% block content %}
{% include 'partials/_header_register.html' %}
{% load static %}


    <div class="site-section bg-light">
      <div class="container">
        <div class="row">


         {% if bloglist %}
         {% for blog in bloglist %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="{% url 'single_blog' blog.id %}">
                <img src={{blog.photo_list.url}} alt="Image"
                 class="img-fluid w-100">
              </a>
              <div class="post-entry-1-contents">
                <h2><a href="{% url 'single_blog' blog.id %}">{{blog.name_list}}</a></h2>
                <span class="meta d-inline-block mb-3">{{blog.blog_date}} <span class="mx-2">by</span> <a href="#">{{blog.carmanager}}</a></span>
                <p>{{blog.short_textlist}}</p>
                 <div class="rating">
                                {% if blog.rating == 1 %}
                                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                     {% elif blog.rating == 2 %}
                                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                     {% elif blog.rating == 3 %}
                                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                     {% elif blog.rating == 4 %}
                                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                     {% elif blogl.rating == 5 %}
                                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                    <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                    {% endif %}
                                </div>
              </div>
                
            </div>
          </div>
        
      
           {% endfor %}
          {% else %}
            <div class="col">NO TITLE</div>
           {% endif %}
      </div>
  </div>
        </div> 







{% endblock %}